<div class="form-group">
    <label>
        <input class="form-field" type="checkbox" name="checkbox_1"/>
        Checkbox 1
    </label>
</div>

<div class="form-group">
    <label>
        <input class="form-field" type="checkbox" name="checkbox_2" checked/>
        Checkbox 2
    </label>
</div>

<div class="form-group">
    <label>
        <input class="form-field" type="checkbox" name="checkbox_3" disabled/>
        Checkbox 3 Disabled
    </label>
</div>

<div class="form-group">
    <label>
        <input class="form-field" type="checkbox" name="checkbox_4" checked disabled/>
        Checkbox 4 Disabled
    </label>
</div>