<div class="form-group">
    <label>
        <input class="form-field" type="radio" name="radio"/>
        Radio 1
    </label>
</div>

<div class="form-group">
    <label>
        <input class="form-field" type="radio" name="radio" checked/>
        Radio 2
    </label>
</div>

<div class="form-group">
    <label>
        <input class="form-field" type="radio" name="radio" disabled/>
        Radio 3 Disabled
    </label>
</div>

<div class="form-group">
    <label>
        <input class="form-field" type="radio" name="radio" checked disabled/>
        Radio 4 Disabled
    </label>
</div>