*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --furby-color--white: rgba(255, 255, 255, 255);
  --furby-color--green: rgba(26, 163, 152, 255);
  --furby-color--blue: rgba(68, 113, 204, 255);
  --furby-color-grey--dark: rgba(107, 107, 107, 255);
  --furby-color-grey: rgba(164, 164, 164, 255);
  --furby-color-grey--light: rgba(232, 233, 238, 255);

  font-family: "Saira Semi Condensed", sans-serif;
  --furby-font--regular: 400;
  --furby-font--bold: 600;
  --furby-font--sm: 12px;
  --furby-font--md: 16px;
  --furby-font--lg: 24px;

  --furby-spacing-s1: 4px;
  --furby-spacing-s2: 8px;
  --furby-spacing-s3: 12px;
  --furby-spacing-s4: 16px;
  --furby-spacing-s5: 24px;
  --furby-spacing-s6: 32px;

  --furby-card--max-width: 670px;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
}

.container {
  width: 100%;
  background-color: var(--furby-color--white);
}

.product-card {
  margin: var(--furby-spacing-s4);
  padding: var(--furby-spacing-s5);

  border: 2px solid var(--furby-color-grey--light);
  border-radius: var(--furby-spacing-s2);
}

.product-name-and-logo {
  display: flex;
  padding-top: var(--furby-spacing-s1);
}

.product-logo {
  width: var(--furby-spacing-s5);
  height: var(--furby-spacing-s5);
}

.product-name {
  margin-left: var(--furby-spacing-s1);
  font-weight: var(--furby-font--bold);
  /* align-self: flex-start; */
}

.product-image {
  position: relative;
  width: 100%;
  padding-top: var(--furby-spacing-s6);

  display: flex;
  justify-content: center;
}

.product-image img {
  width: 180px;
}

.discount-info {
  width: 96px;
  height: 96px;
  shape-outside: circle();
  clip-path: circle();

  position: absolute;
  bottom: -64px;
  right: 0;
  transform: rotate(15deg);

  display: flex;
  justify-content: center;

  background-color: var(--furby-color--green);
}

.discount-info-text {
  font-size: var(--furby-font--lg);
  color: var(--furby-color--white);
  align-self: center;
}

.discount-info-text span {
  font-size: var(--furby-font--md);
  display: flex;
  justify-content: center;
  margin-top: -0.5rem;
}

.product-price {
  padding-top: var(--furby-spacing-s6);
}

.new-price {
  font-size: var(--furby-font--lg);
  line-height: var(--furby-font--lg);
  font-weight: var(--furby-font--bold);
  color: var(--furby-color--green);
}

.old-price {
  padding-top: 2px;
  font-size: var(--furby-font--lg);
  line-height: var(--furby-font--lg);
  text-decoration: line-through;
  color: var(--furby-color--grey--dark);
}

.price-info {
  font-size: var(--furby-font--sm);
}

.product-details-link {
  font-size: var(--furby-font--md);
  padding-top: var(--furby-spacing-s6);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: var(--furby-color--blue);
}

.product-details-link::after {
  content: ">";
  margin-left: var(--furby-spacing-s1);
}
