<div class="form-group">
     <label class="form-control checkbox">
     <span class="form-control__input checkbox"></span>
        <input class="form-field" type="checkbox" name="checkbox_1"/>
         <span class="input__control"> 
            <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path 
                    fill="none"
                    stroke="currentColor"
                    stroke-width="4"
                    d="M1.73 12.91l6.37 6.37l22.79 4.59"
                />
            </svg>
        </span>
        Checkbox 1
    </label>
</div>

<div class="form-group">
     <label class="form-control checkbox">
      <span class="form-control__input checkbox__input"></span>
        <input class="form-field" type="checkbox" name="checkbox_2" checked/>
         <span class="input__control">
            <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path 
                    fill="none"
                    stroke="currentColor"
                    stroke-width="4"
                    d="M1.73 12.91 l6.37 6.37 l22.79 4.59"
                />
            </svg>
         </span>
        Checkbox 2
    </label>
</div>

<div class="form-group">
     <label class="form-control checkbox">
      <span class="form-control__input checkbox__input"></span>
        <input class="form-field" type="checkbox" name="checkbox_3" disabled/>
         <span class="input__control">
            <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path 
                    fill="none"
                    stroke="currentColor"
                    stroke-width="4"
                    d="M1.73 12.91l6.37 6.37l22.79 4.59"
                />
            </svg>
         </span>
        Checkbox 3 Disabled
    </label>
</div>

<div class="form-group">
     <label class="form-control checkbox">
      <span class="form-control__input checkbox__input"></span>
        <input class="form-field" type="checkbox" name="checkbox_4" checked disabled/>
         <span class="input__control">
            <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path 
                    fill="none"
                    stroke="currentColor"
                    stroke-width="4"
                    d="M1.73 12.91l6.37 6.37l22.79 4.59"
                />
            </svg>
         </span>
        Checkbox 4 Disabled
    </label>
</div>