<div class="form-group">
    <label for="first-name">First Name</label>
    <input class="form-field" type="text" id="first-name" name="first_name"/>
</div>

<div class="form-group">
    <label for="family-name">Family Name</label>
    <input class="form-field" type="text" id="family-name" name="family_name" disabled/>
</div>

<div class="form-group">
    <label for="work-experience">Work Experience</label>
    <textarea class="form-field" id="work-experience" name="work_experience"></textarea>
</div>

<div class="form-group">
    <label for="education">Education</label>
    <textarea class="form-field" id="education" name="education" disabled></textarea>
</div>


